<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.study.demo.mapper.SectionDataMapper">

    <resultMap id="BaseResultMap" type="org.study.demo.entity.po.SectionData">
            <id property="sectionId" column="section_id" jdbcType="VARCHAR"/>
            <result property="sectionVideoUrl" column="section_video_url" jdbcType="VARCHAR"/>
            <result property="sectionDetail" column="section_detail" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        section_id,section_video_url,section_detail
    </sql>

    <!--  List<SectionData> selectAllBySectionId(@Param("sectionId") String sectionId); -->
    <select id="selectAllBySectionId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_section_data
        where section_id = #{sectionId}
    </select>
</mapper>
