<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo2.mapper.CheckMapper">

    <resultMap id="BaseResultMap" type="com.example.demo2.entity.po.Check">
            <id property="checkId" column="check_id" jdbcType="VARCHAR"/>
            <result property="questionId" column="question_id" jdbcType="VARCHAR"/>
            <result property="checkName" column="check_name" jdbcType="VARCHAR"/>
            <result property="isCheck" column="is_check" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        check_id,question_id,check_name,
        is_check
    </sql>
</mapper>
