<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo2.mapper.LessonMapper">

    <resultMap id="BaseResultMap" type="com.example.demo2.entity.po.Lesson">
            <id property="lessonId" column="lesson_id" jdbcType="VARCHAR"/>
            <result property="lessonName" column="lesson_name" jdbcType="VARCHAR"/>
            <result property="lessonImgUrl" column="lesson_img_url" jdbcType="VARCHAR"/>
            <result property="lessonDetail" column="lesson_detail" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        lesson_id,lesson_name,lesson_img_url,
        lesson_detail
    </sql>
</mapper>
