<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo2.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.example.demo2.entity.po.Question">
            <id property="questionId" column="question_id" jdbcType="VARCHAR"/>
            <result property="moduleId" column="module_id" jdbcType="VARCHAR"/>
            <result property="questionName" column="question_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        question_id,module_id,question_name
    </sql>
</mapper>
